<form action="/proveedor/editar/{{proveedor.proveedor_id}}" method="POST">
    <label for="nombre">Nombre</label>
    <input class="" type="text" name="nombre" value="{{proveedor.nombre}}">

    <label for="razon_social">Razon Social</label>
    <input class="" type="text" name="razon_social" value="{{proveedor.razon_social}}">

    <label for="rfc">RFC</label>
    <input class="" type="text" name="rfc" value="{{proveedor.rfc}}">

    <label for="domicilio">Domicilio</label>
    <input class="" type="text" name="domicilio"value="{{proveedor.domicilio}}">

    <label for="codigo_postal">Codigo Postal</label>
    <input class="" type="text" name="codigo_postal" value="{{proveedor.codigo_postal}}">

    <label for="email">Correo Electrónico</label>
    <input class="" type="email" name="email" value="{{proveedor.email}}">

    <button>Actualizar</button>
</form>