<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="titulo">
                <h3>Editar Proveedor</h3>
            </div>
            <div class="contenido" id="contenido__form">
                <div class="section__form">
                    <form action="/proveedor/editar/{{proveedor.proveedor_id}}" method="POST">
                        <p>Actualiza la informaci贸n necesaria.</p>
                        <div class="form-group">
                            <input class="section__form__input" type="text" name="nombre" autocomplete="off" value="{{proveedor.nombre}}">
                            <label for="nombre" class="section__form__label">
                                <span class="section__form__span">Nombre</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <input class="section__form__input" type="text" name="razon_social" autocomplete="off" value="{{proveedor.razon_social}}">
                            <label for="razon_social" class="section__form__label">
                                <span class="section__form__span">Raz贸n Social</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <input class="section__form__input" type="text" name="rfc" autocomplete="off" value="{{proveedor.rfc}}">
                            <label for="rfc" class="section__form__label">
                                <span class="section__form__span">RFC</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <input class="section__form__input" type="text" name="domicilio" autocomplete="off" value="{{proveedor.domicilio}}">
                            <label for="domicilio" class="section__form__label">
                                <span class="section__form__span">Domicilio</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <input class="section__form__input" type="number" name="codigo_postal" autocomplete="off" value="{{proveedor.codigo_postal}}">
                            <label for="codigo_postal" class="section__form__label">
                                <span class="section__form__span">C贸digo Postal</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <input class="section__form__input" type="email" name="email" autocomplete="off" value="{{proveedor.email}}">
                            <label for="email" class="section__form__label">
                                <span class="section__form__span">Correo Electr贸nico</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <button class="boton azul">Actualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>