<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="titulo">
                <h3>Proveedores</h3>
            </div>
            <div class="contenido">
                {{> alerta }}
                <div class="acciones">
                    <a class="boton azul" href="/proveedor/nuevo">Nuevo Proveedor</a>
                    <a class="boton azul" href="/contrato/nuevo">Nuevo Contrato</a>
                    <a class="boton azul" href="/solicitud_pago/nuevo">Nueva Solicitud</a>
                </div>
                <hr>
                <table class="display nowrap" cellspacing="0" id="table" width="100%">
                    <thead>
                        <th>Nombre</th>
                        <th>Razón Social</th>
                        <th>RFC</th>
                        <th>Domicilio</th>
                        <th>Email</th>
                        <th></th>
                    </thead>
                    <tbody>
                        {{#each lista_proveedores }}
                            <tr>
                                <td data-label="Nombre">{{nombre}}</td>
                                <td data-label="razon_social">{{razon_social}}</td>
                                <td data-label="RFC">{{rfc}}</td>
                                <td data-label="Domicilio">{{domicilio}}</td>
                                <td data-label="Email">{{email}}</td>
                                <td>
                                    <a class="btn btn-warning" href="/proveedor/editar/{{proveedor_id}}"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a class="btn btn-danger" onclick="eliminarRegistro('proveedor/borrar/', {{proveedor_id}})"><i class="fa-solid fa-trash"></i></a>
                                </td>
                            </tr>
                        {{else}}
                            <tr>
                                <td>No hay proveedores registrados</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>    
</div>