<table style="width:90%; margin: 0 auto; border: black 2px solid; border-collapse: separate; border-spacing: 0px;">
    <tbody>
    <!-- Primera parte -->
    <tr>
        <td style="width: 100px">
            <img src="{{src}}" alt="logo">                
        </td>
        <td>
            <p style="text-align: left; font-weight: 700; font-size: 20px; margin-left: 0px;">SOLICITUD DE PAGO</p>
        </td>
        <td>
            <p style="padding-right: 50px; margin-top: 0;"><span style="font-weight: bold;">FOLIO: </span>{{folio}}</p>
            <p style="padding-right: 50px; margin-top: 20px;"><span style="font-weight: bold;">Fecha: </span>{{fecha}}</p>
        </td>                
    </tr>

    <tr style="color:white; text-align:center; background:#244061; width: 100%;">
        <td colspan="3" style="font-weight: 500;">
            DATOS DE LA DEPENDENCIA SOLICITANTE
        </td>
    </tr>
    <tr>
        <td style="text-align: right;">Dependencia o Dirección</td>
        <td>
            <p style="margin: 0 30px;">SECRETARIA PARTICULAR</p>
        </td>
    </tr>
    <tr>
        <td style="text-align: right; width: 110px;">Coordinación o Departamento</td>
        <td colspan="2">
            <p style="margin: 0 30px;">COMUNICACIÓN SOCIAL Y EVENTOS ESPECIALES</p>
        </td>
    </tr>

    <tr style="color:white; text-align:center; background:#244061; width: 100%;">
        <td colspan="3" style="font-weight: 500;">
            DATOS DEL PAGO
        </td>
    </tr>
    <tr>
        <td style="text-align: right;">
            Beneficiario:
        </td>
        <td colspan="2" style="border-bottom: black 1px solid">
            {{beneficiario}}
        </td>
    </tr>

            <tr style="text-align: left;">
                <td></td>
                <td colspan="2" style="text-align: left;">
                    <a style="font-weight: bold; display: inline-block; width: 70px; padding: 2px 15px; text-align:center; border: black 1px solid; margin: 10px 0;">CeGe</a>
                    <a style="font-weight: bold; display: inline-block; width: 70px; padding: 2px 15px; text-align:center; border: black 1px solid; margin: 0;">Programa</a>
                    <a style="font-weight: bold; display: inline-block; width: 70px; padding: 2px 15px; text-align:center; border: black 1px solid; margin: 0;">Partida</a>
                    <a style="font-weight: bold; display: inline-block; width: 162px; padding: 2px 0px; text-align:center; border: black 1px solid; margin: 0;">Nombre de la Partida</a>
                </td>               
            </tr>
            
            <tr style="text-align: right;">
                <td>Código Presupuestario</td>
                <td colspan="2" style="text-align: left;">
                    <a style="display: inline-block; width: 70px; height: 80px; padding: 2px 15px; text-align:center; border: black 1px solid; margin-top: -12px; font-size: 13px;">31111-0401</a>
                    <a style="font-weight: bold; display: inline-block; width: 70px; height: 80px; padding: 2px 15px; text-align:center; border: black 1px solid; margin-top: -12px; font-size: 13px;">F0040</a>
                    <a style="font-weight: bold; display: inline-block; width: 70px; height: 80px; padding: 2px 15px; text-align:center; border: black 1px solid; margin-top: -12px;">{{no_partida}}</a>
                    <a style="font-weight: bold; display: inline-block; width: 132px; height: 80px; padding: 2px 15px; text-align:center; border: black 1px solid; margin-top: -12px;">{{desc}}</a>
                </td>   
            </tr>
            
    <tr>
        <td style="text-align: right;">
            Importe:
        </td>
        <td colspan="1" style="border-bottom: black 1px solid">
            {{importe}}
        </td>
    </tr>
            
    <tr>
        <td style="text-align: right;">
            Importe con letra:
        </td>
        <td colspan="2" style="border-bottom: black 1px solid;">
            {{numero_letras}}
        </td>
    </tr>

    <tr>
        <td colspan="3"></td>
    </tr>

    <tr style="color:white; text-align:center; background:#244061; width: 100%;">
        <td colspan="3" style="font-weight: 500;">
            CONCEPTO
        </td>
    </tr>
    <tr>
        <td colspan="3" style="padding: 0 10px; height: 70px;">
            {{concepto}}
        </td>
    </tr>

    <tr style="color:white; text-align:center; background:#244061; width: 100%;">
        <td colspan="3" style="font-weight: 500;">
            AUTORIZACIONES
        </td>
    </tr>

    <tr>
        <td style="text-align: center;" colspan="3">
            SOLICITANTE
        </td>
    </tr>
    <tr>
        <td style="text-align: center; font-weight: bold; border: black 1px solid;">
            Nombre
        </td>
        <td style="text-align: center; font-weight: bold; border: black 1px solid;">
            Puesto
        </td>
        <td style="text-align: center; font-weight: bold; border: black 1px solid;">
            Firma
        </td>
    </tr>

    <tr>
        <td style="text-align: center; border: black 1px solid;">
            LIC. VICTOR HUGO AGUILERA ORTEGA
        </td>
        <td style="text-align: center; border: black 1px solid;">
            DIRECTOR GENERAL DE COMUNICACION SOCIAL Y EVENTOS ESPECIALES
        </td>
        <td style="text-align: center; border: black 1px solid;"></td>
    </tr>

    <tr>
        <td style="text-align: center;" colspan="3">
            DIRECCIÓN DE CONTABILIDAD Y PRESUPUESTO
        </td>
    </tr>

    <tr>
        <td style="text-align: center; font-weight: bold; border: black 1px solid;">
            Recibió
        </td>
        <td style="text-align: center; font-weight: bold; border: black 1px solid;">
            Revisó
        </td>
        <td style="text-align: center; font-weight: bold; border: black 1px solid;">
            Autorizó
        </td>
    </tr>

    <tr style="width: 60px;">
        <td style="padding: 20px;width: 60px; text-align: center; border: black 1px solid;"></td>
        <td style="width: 60px; text-align: center; border: black 1px solid;"></td>
        <td style="width: 60px; text-align: center; border: black 1px solid;"></td>
    </tr>

    <!-- SEGUNDA parte -->
    <tr>
        <td style="width: 100px">
            <img src="{{src}}" alt="logo">                
        </td>
        <td>
            <p style="text-align: left; font-weight: 700; font-size: 20px; margin-left: 0px;">SOLICITUD DE PAGO</p>
        </td>
        <td>
            <p style="padding-right: 50px; margin-top: 0;"><span style="font-weight: bold;">FOLIO: </span>{{folio}}</p>
            <p style="padding-right: 50px; margin-top: 20px;"><span style="font-weight: bold;">Fecha: </span>{{fecha}}</p>
        </td>                
    </tr>

    <tr style="color:white; text-align:center; background:#244061; width: 100%;">
        <td colspan="3" style="font-weight: 500;">
            DATOS DE LA DEPENDENCIA SOLICITANTE
        </td>
    </tr>
    <tr>
        <td style="text-align: right;">Dependencia o Dirección</td>
        <td>
            <p style="margin: 0 30px;">SECRETARIA PARTICULAR</p>
        </td>
    </tr>
    <tr>
        <td style="text-align: right; width: 110px;">Coordinación o Departamento</td>
        <td colspan="2">
            <p style="margin: 0 30px;">COMUNICACIÓN SOCIAL Y EVENTOS ESPECIALES</p>
        </td>
    </tr>

    <tr style="color:white; text-align:center; background:#244061; width: 100%;">
        <td colspan="3" style="font-weight: 500;">
            DATOS DEL PAGO
        </td>
    </tr>
    <tr>
        <td style="text-align: right;">
            Beneficiario:
        </td>
        <td colspan="2" style="border-bottom: black 1px solid">
            {{beneficiario}}
        </td>
    </tr>

            <tr style="text-align: left;">
                <td></td>
                <td colspan="2" style="text-align: left;">
                    <a style="font-weight: bold; display: inline-block; width: 70px; padding: 2px 15px; text-align:center; border: black 1px solid; margin: 10px 0;">CeGe</a>
                    <a style="font-weight: bold; display: inline-block; width: 70px; padding: 2px 15px; text-align:center; border: black 1px solid; margin: 0;">Programa</a>
                    <a style="font-weight: bold; display: inline-block; width: 70px; padding: 2px 15px; text-align:center; border: black 1px solid; margin: 0;">Partida</a>
                    <a style="font-weight: bold; display: inline-block; width: 162px; padding: 2px 0px; text-align:center; border: black 1px solid; margin: 0;">Nombre de la Partida</a>
                </td>               
            </tr>
            
            <tr style="text-align: right;">
                <td>Código Presupuestario</td>
                <td colspan="2" style="text-align: left;">
                    <a style="display: inline-block; width: 70px; height: 80px; padding: 2px 15px; text-align:center; border: black 1px solid; margin-top: -12px; font-size: 13px;">31111-0401</a>
                    <a style="font-weight: bold; display: inline-block; width: 70px; height: 80px; padding: 2px 15px; text-align:center; border: black 1px solid; margin-top: -12px; font-size: 13px;">F0040</a>
                    <a style="font-weight: bold; display: inline-block; width: 70px; height: 80px; padding: 2px 15px; text-align:center; border: black 1px solid; margin-top: -12px;">{{no_partida}}</a>
                    <a style="font-weight: bold; display: inline-block; width: 132px; height: 80px; padding: 2px 15px; text-align:center; border: black 1px solid; margin-top: -12px;">{{desc}}</a>
                </td>   
            </tr>
            
    <tr>
        <td style="text-align: right;">
            Importe:
        </td>
        <td colspan="1" style="border-bottom: black 1px solid">
            {{importe}}
        </td>
    </tr>
            
    <tr>
        <td style="text-align: right;">
            Importe con letra:
        </td>
        <td colspan="2" style="border-bottom: black 1px solid;">
            {{numero_letras}}
        </td>
    </tr>

    <tr>
        <td colspan="3"></td>
    </tr>

    <tr style="color:white; text-align:center; background:#244061; width: 100%;">
        <td colspan="3" style="font-weight: 500;">
            CONCEPTO
        </td>
    </tr>
    <tr>
        <td colspan="3" style="padding: 0 10px; height: 70px;">
            {{concepto}}
        </td>
    </tr>

    <tr style="color:white; text-align:center; background:#244061; width: 100%;">
        <td colspan="3" style="font-weight: 500;">
            AUTORIZACIONES
        </td>
    </tr>

    <tr>
        <td style="text-align: center;" colspan="3">
            SOLICITANTE
        </td>
    </tr>
    <tr>
        <td style="text-align: center; font-weight: bold; border: black 1px solid;">
            Nombre
        </td>
        <td style="text-align: center; font-weight: bold; border: black 1px solid;">
            Puesto
        </td>
        <td style="text-align: center; font-weight: bold; border: black 1px solid;">
            Firma
        </td>
    </tr>

    <tr>
        <td style="text-align: center; border: black 1px solid;">
            LIC. VICTOR HUGO AGUILERA ORTEGA
        </td>
        <td style="text-align: center; border: black 1px solid;">
            DIRECTOR GENERAL DE COMUNICACION SOCIAL Y EVENTOS ESPECIALES
        </td>
        <td style="text-align: center; border: black 1px solid;"></td>
    </tr>

    <tr>
        <td style="text-align: center;" colspan="3">
            DIRECCIÓN DE CONTABILIDAD Y PRESUPUESTO
        </td>
    </tr>

    <tr>
        <td style="text-align: center; font-weight: bold; border: black 1px solid;">
            Recibió
        </td>
        <td style="text-align: center; font-weight: bold; border: black 1px solid;">
            Revisó
        </td>
        <td style="text-align: center; font-weight: bold; border: black 1px solid;">
            Autorizó
        </td>
    </tr>

    <tr style="width: 60px;">
        <td style="padding: 20px;width: 60px; text-align: center; border: black 1px solid;"></td>
        <td style="width: 60px; text-align: center; border: black 1px solid;"></td>
        <td style="width: 60px; text-align: center; border: black 1px solid;"></td>
    </tr>

    </tbody>
</table>